<body id ="animation">
  <div class="container">
    <center>
      <img src="https://pixy.org/src2/594/5942756.png" style="width:280px;height:280px;">
    </center>
  </div>

<center><h2 style="margin-top: 24px;"><b>KNOW IT ALL</b></h2></center>

<center>
  <div class="container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs" style="margin-top: 24px;">
        <%= f.input :email,
                    required: false,
                    autofocus: false,
                    autocomplete: false,
                    input_html: { class: "styling-input" },
                    wrapper_html: { class: "styling" } %>
        <%= f.input :password,
                    required: false,
                    wrapper_html: { class: "styling" },
                    input_html: { class: "styling-input" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions" style="margin-top:60px;">
        <%= f.button :submit, "Sign In", class: "button" %>
      </div>
    <% end %>
  </div>
</center>

<center><%= render "devise/shared/links" %></center>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>


