<h3 class="ml-2" style="margin-top:15px;">likes</h3>
<br>
<div class="cards">
  <% @likes.each do |like| %>
    <div class="card">
      <div class="article_image">
        <%= image_tag(like.article.image_url) %>
      </div>
      <div class="overlay"></div>
      <div class="read-time">
        <p><%= like.article.read_mins  %>mins</p>
      </div>
      <div class="headline">
        <% if like.article.title.length > 2 %>
          <%= link_to truncate("#{like.article.title}", length: 50), article_show_path(like.article)%>
        <% else %>
          <%= like.article.title %>
        <% end %>
      </div>
    </div>
  <%end%>
</div>
<%= render 'shared/navbar' %>
