<div class="show-card">
  <div class="show-card-image">
    <img src="<%= @article.image_url %>">
  </div>

  <div class="show-card-content">
    <div class="show-card-content-2">
        <div class="show-card-headline">
          <p><%= @article.title %></p>
          <div class="show-card-details">
            <p class="show-card-likes"><% if @existing_like %>
                <%= link_to image_tag("bi_suit-heart-fill.svg"),  unlike_article_path(@article), method: :delete, remote: true, class: "btn-likes" %>
                <% else %>
                <%= link_to image_tag("bi_suit-heart.svg"), like_article_path(@article), method: :post, remote: true, class: "btn-likes" %>
                <% end %>
                <span id="likes-count"><%= @article.likes.count %></span>
            </p>
            <p><a class="fab fa-twitter mr-4"
              href="https://twitter.com/intent/tweet"></a></p>
            <p><%= @article.source.name %></p>
            <p><%= @article.read_mins  %> minute read</p>
          </div>

        <div class="show-card-description">
          <p><%= @article.content_preview  %></p>

        </div>
    </div>
  </div>
</div>
  <div class="show-card-footer">
    <div class="show-card-button">
      <span><%= link_to "Continue Reading", @article.article_url %></span>
    </div>
  </div>
</div>
  <%= render 'shared/navbar' %>

