<!DOCTYPE html>
<html>
  <head>
    <title>KnowItAll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= meta_tag :meta_title, Article::DEFAULT_META["meta_title"] %>
    <%#= meta_tag :meta_description, Article::DEFAULT_META["meta_description"] %>
    <%#= meta_tag :meta_image, Article::DEFAULT_META["meta_image"] %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag %>

  </head>

  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
